

.single__product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
}
.single__product__images {
    width: 50%;
}

.additional__images {
  display: flex;
  gap: 20px;
  margin-top: 16px;
  overflow: auto;
}
.additional__images img {
  min-width: 70px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.additional__images img:hover {
  opacity: 0.7;
}

.main__image {
  width: 100%;
  object-fit: cover;
  height: 450px;
}

.single__product__description {
  width: 50%;
  padding:0 30px ;
}

.single__desc {
  margin-bottom: 20px;
}
.single__price h2{
  margin-top: 20px;
}
.single__price p{
  font-size: 18px;
  margin: 20px 0;
  color: #666;
}
.single__buttons {
  display: flex;
  flex-direction: column;
}

.single__buttons button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--bg-py);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.single__buttons button:hover {
  background-color: #094b3f;
}
@media (max-width: 768px) {
  .single__product {
    flex-direction: column;
  }

  .single__product__images {
    text-align: center;
    width: 100%;
  }
  .main__image{
    width: 100%;
  }
  .single__product__description {
    padding: 0;
    margin-top: 20px;
    width: 100%;
  }
  .single__count{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.single__count{
  display: flex;
  background: var(--bg-py);
  padding: 10px ;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 200px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}
.single__count button{
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding: 5px 15px ;
}
.single__count button:hover{
  background: #86fde7;
  border-radius: 50%;
  padding: 5px 15px ;
  color: #000;
}
.single__to__home{
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--bg-py);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
@media (max-width: 450px) {
  .single__product {
    justify-content: flex-start; 
    border: none;
    box-shadow: none;
  }
  .main__image{
    height: 350px;
  }
  .single__product__description {
    flex: 1;
    padding: 0;
  }
}