.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.products .product {
  cursor: pointer;
  width: 300px;
  height: auto;
  text-align: center;
  position: relative;
}
.products .product img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.products .product h5 {
  padding: 10px 0;
  font-size: 16px;
  transition: 0.2s ease;
}

.products .product h5:hover {
  color: saddlebrown;
}

.products .product h4 {
  color: saddlebrown;
}
.products .actions {
  display: flex;
  align-items: center;
  margin: auto;
  gap: 30px;
  justify-content: center;
  padding: 10px 0;
}

.products .actions svg {
  font-size: 22px;
}

.products .actions .product__cart,
.products .actions .product__heart {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  transition: ease 0.4s;
}

.product .heart {
  border: none;
}

.product__heart {
  border: none;
}

.products .actions .product__cart:hover,
.products .actions .product__heart:hover {
  background: saddlebrown;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .products {
    justify-content: center;
  }
}
