.Category {
    margin-bottom: 40px;
}
.Category h2 {
    margin-bottom: 10px;
}

.card__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
}

.category__card {
    width: 220px;
    text-align: center;
}

.category__card img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}
.category__title{
    font-size: 34px;
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 990px){
    .card__wrapper{
        flex-wrap: nowrap;
        overflow: auto;
        justify-content: flex-start;
        padding: 20px 10px;
        gap: 14px;
        margin-top: 0;
    }
    .category__card {
        width: 150px;
        text-align: center;
    }
    .category__card img {
        width: 150px;
        height: 150px;
    }
}


@media screen and (max-width: 500px){
    .category__title{
        font-size: 28px;
    }
    .card__wrapper{
        padding: 20px;
    }
    .category__card {
        width: 120px;
        text-align: center;
    }
    .category__card img {
        width: 120px;
        height: 120px;
    }
}