.inner__values {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 0;
    width: 100%;
}

.value{
    width: 30%;
}
.our__values .value svg {
    color: var(--bg-py);
    font-size: 45px;
}

.our__values .value h3 {
    font-weight: 100;
    margin-top: 10px;
    font-size: 20px;
}

.our__values p {
    font-size: 15px;
    margin-top: 5px;
}


@media screen and (max-width:1050px) {
    .inner__values{
        justify-content: center;
    }
    .value{
        width: 40%;
    }
}
@media screen and (max-width:650px){
    .value{
        width: 100%;
    }
}