body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .main_containter {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 90px 0;
    background-color: #e1e3eb;
  }

  .sub-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 550px;
    box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
    border-radius: 60px;
    background-color: white;
  }

  .imgs {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 115px;
    width: 115px;
    background-color: rgb(223, 221, 221);
    border-radius: 50%;
  }

  .profile {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }

  input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    border: none;
    outline: none;
    margin-left: 20px;
    background-color: #fff;
    box-shadow: inset 0px 0px 25px 0px #888;
    margin-bottom: 15px;
    padding: 0 15px;
  }

  .second-input {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
  }

  .email {
    position: absolute;
    height: 25px;
    width: 25px;
    padding: 14px 0 0 25px;
  }

  .name {
    font-size: 20px;
    padding-left: 70px;
  }

  button {
    width: 380px;
    height: 50px;
    border-radius: 60px;
    background-color: sienna;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
  }

  .login-button {
    padding-top: 25px;
  }

  .link {
    font-size: 25px;
    font-weight: 400;
    color: blue;
    margin-top: 20px;
  }