.main__branches {
    text-align: center;
  }
  
  .branch__text {
    padding: 50px;
    font-weight: 100;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    cursor: pointer;
  }
  
  .branch__text svg {
    color: var(--bg-py);
  }
  
  .branch__one {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
  }
  
 .branch__one iframe {
    height: 300px;
    width: 100%;
    border: none;
    max-width: 900px;
    background: linear-gradient(90deg, #ddd, #f7f7f7, #ddd);
    background-size:  200%;
    animation: iframe 1s linear infinite;
  }
  @keyframes iframe {
    to{
      background-position: 200%;
    }
  }
  .info {
    margin-top: -50px; 
    background: var(--bg-py);
    color: #fff;
    padding: 10px 50px;
    line-height: 30px;
    border-radius: 20px;
  }
  @media screen and (max-width: 900px){
    .branch__one{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    iframe{
        width: 80%;
    }
    .info{
        line-height: 25px;
    }
  }
  @media screen and (max-width: 650px){
    iframe{
        width: 100%;
    }
    .info{
        width: 95%;
        line-height: 25px;
        margin-top: -20px; 
    }
    .branch__text{
        font-size: 30px;
    }
  }
  @media screen and (max-width: 450px){
    .info{
        line-height: 25px;
    }
  }

  @media screen and (max-width: 360px){
    iframe{
        width: 100%;
        height: 200px;
    }
  }