.create__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  min-height: 100vh;
}
.create__product h3{
  font-weight: 100;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: center;
  color: var(--bg-py);
  margin-bottom: 20px;
}

.form-control {
  padding: 10px;
  width: 350px;
  margin-bottom: 10px;
  border: 1px solid#ccc;
  border-radius: 5px;
}
.form-control:focus{
  outline: 2px solid var(--bg-py);
}
.create__product button {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-py);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.create__product button:disabled{
  cursor: auto;
  opacity: .6;
}
.create__product-image{
  width: 120px;
  height: 120px;
  border: 1px solid red;
  margin-bottom: 10px;
  border-radius: 6px;
  position: relative;
  display: grid;
  place-items: center;
  font-size: 36px;
  border: 1px solid #ddd;
}
.create__product-image input{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
@media screen and (max-width: 450px){
  .form-control{
    width: 300px;
  }
  .create__product h3{
    text-align: center;
    font-size: 15px;
  }
  form{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 350px){
  .create__product h3{
    font-size: 20px;
    margin-bottom: 20px;
  }
  form{
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
