
.sidebar.show{
    left: 0 ;
}
@media screen and (max-width: 600px){
    .sidebar{
        width: 70%;
        left: -70%;
    }
}
.sidebar__shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0006;
    z-index: 12;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -350px;
    width: 350px;
    height: 100vh;
    background-color:#fff;
    z-index: 13;
    transition: .3s ease;
  }
  .sidebar__item span{
    font-size: 18px;
    color: var(--bg-py);
    align-items: left;
  } 
  .sidebar__item font{
    font-size: 18px;
    color: var(--bg-py);
    align-items: left;
  } 
  .sidebar.show {
    left: 0;
  }
  .sidebar__content {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .sidebar__content img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 40px;
      }
  .sidebar__item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 10px;
    padding: 5px;
    font-size: 23px;
    font-weight: 500;
  }
  
  
  @media screen and (max-width: 600px) {
    .sidebar {
      width: 70%;
      left: -70%;
    }
  }

