.footer {
    width: 100%;
    background-color: #f5f5f5;
    text-align: center; 
    color: var(--bg-py);
}

.footer__wrapper {
    padding: 40px 0;
    text-align: center;
}
.item ul{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 30px;
}
.icon{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.footer button {
    background-color: transparent;
    border: none;
}
.footer__logo{
    width: 200px;
}
.footer button:hover {
    color: pink;
}

.item {
   text-align: center;
}

.footer li {
    text-decoration: none;
    list-style: none;
    font-weight: 800;
}


.item svg {
    font-size: 30px;
    gap: 20px;
    color: var(--bg-py);
}

@media screen and (max-width:350px) {
    .footer__wrapper {
        color: black;
        display: block;
        padding: 40px 0;
        flex-direction: column;
    }


}



@media screen and (max-width:990px) {
   
    .footer {
       
        margin-bottom: 50px;
    }
}