.footer {
    width: 100%;
    background-color: black;
    margin-bottom: 50px;
}

.footer__wrapper {
    color: rgb(97, 80, 80);
    display: flex;
    padding: 40px 0;

}

.icon {
    display: flex;
    gap: 10px;
}

.footer button {
    background-color: transparent;
    color: rgb(97, 80, 80);
    border: none;

}

.footer button:hover {
    color: pink;
}

.item {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 100%;
}

.footer li {
    text-decoration: none;
    list-style: none;
    font-weight: 800;
}

.footer li:hover {
    color: pink;
    cursor: pointer;
}

.item svg {
    font-size: 30px;
    gap: 20px;
}

@media screen and (max-width:350px) {
    .footer__wrapper {
        color: rgb(97, 80, 80);
        display: block;
        padding: 40px 0;
        flex-direction: column;
    }

    .item {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}


@media screen and (max-width:400px) {
   

    .item {
        justify-content: center;
        display: flex;
        align-items: center;
        gap: 20px;
    }
}