@font-face {
  font-family: dosis;
  src: url("./fonts/pontano/PontanoSans-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: dosis;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
:root {
  --bg-py: #289f89;
}

.container {
  width: 1250px;
  margin: auto;
}
.container .container{
  width: 100%;
}
@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
    padding: 0 16px;
  }
  .container .container{
    padding: 0;
  }
}

li {
  list-style: none;
}
hr{
  border-top: none;
  border-bottom: 1px solid #ddd;
}
a {
  color: inherit;
  text-decoration: inherit;
}
