.admin{
    display: flex;
    height: 100vh;
}
.admin__sidebar{
    width: 350px;
    height: 100%;
    background: var(--bg-py);
    padding: 30px;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
}
.admin__icon{
    font-size: 50px;
}
.l{
    text-align: center;
}
.admin__collection{
    margin-top: 50px;
}
.admin__link{
    background: #fff;
    color: var(--bg-py);
    text-align: center;
    display: block;
    padding: 8px 12px;
    margin-bottom: 6px;
    border-radius: 6px;
    border: 1px solid transparent;
}
.admin__go__to__home{
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
}
.admin__link.active{
    border: 1px solid #fff;
    background: #fff3;
}
.admin__content{
    flex: 1;
    height: 100%;
}
.admin__sidebar h2{
    font-size: 25px;
    font-weight: 100;
}

  
  .show .admin__sidebar {
    left: 0;
  }
  
  .admin__menu {
    display: none;
    color: var(--bg-py);
    cursor: pointer;
    right: 40px; 
    outline: none;
  }
  .icon__admin{
    font-size: 40px;
    right: 40px; 
  }
  @media screen and (max-width: 800px) {
    .admin__sidebar {
      position: fixed;
      top: 0;
      left: -80%;
      z-index: 99;
      transition: 0.3s ease;
      width: 70%;
      height: 100vh;
      background: var(--bg-py);
      flex-direction: column;
      padding: 20px;
      height: 100vh;
    }
  
    .show .admin__sidebar {
      left: 0;
    }
  
    .admin__menu {
      display: block;
    }
  }
  @media screen and (max-width: 500px){
    .admin__sidebar{
        width: 80%;
    }
    .admin__link{
        padding:10px 4px;
    }
    .admin__sidebar h2{
        font-size: 20px;
    }
  }