.banner__swiper{
    height: 600px;
    margin-bottom: 30px;
}
.banner__item{
    width: 100%;
    height: 100%;
}
.banner__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner_text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner_text h1{
    font-size: 60px;
    margin-bottom: 20px;
    opacity: .6;
}
.banner__btn{
    width: 150px;
    height: 40px;
    background: transparent;
    border:1px solid  var(--bg-py);
    color: var(--bg-py);
    border-radius: 6px;
    font-size: 16px;
}
/* .banner__item:nth-child(1){
    background: url("../../assets/banner006.jpg") no-repeat center/cover;
} */
.banner__item:nth-child(2){
    background: url("../../assets/banner_img_one.webp") no-repeat center/cover;
}
.banner__item:nth-child(3){
    background: url("../../assets/banner_img_two.webp") no-repeat center/cover;
}
.banner__item:nth-child(4){
    background: url("../../assets/banner005.jpg") no-repeat center/cover;
}




@media screen and (max-width: 1400px) {
    .banner__swiper{
        height: 500px;
    }
}
@media screen and (max-width: 990px) {
    .banner__swiper{
        height: 400px;
    }
}
@media screen and (max-width: 750px) {
    .banner__swiper{
        height: 350px;
    }
    .banner_text h1{
        font-size: 50px;
    }
    .banner__btn{
        width: auto;
        height: auto;
        padding: 6px 20px;
        font-size: 14px;
    }
}
@media screen and (max-width: 650px) {
    .banner__swiper{
        height: 300px;
    }
    .banner_text h1{
        font-size: 45px;
    }
}
@media screen and (max-width: 500px) {
    .banner__swiper{
        height: 240px;
    }
    .banner_text h1{
        font-size: 38px;
    }
}
@media screen and (max-width: 450px) {
    .banner__swiper{
        height: 200px;
    }
    .banner_text h1{
        font-size: 32px;
    }
}